<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag "/images/favicon.ico" %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= csrf_meta_tags %>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<%= javascript_include_tag 'spree/frontend/all' %>

<!-- custome css -->
<%= stylesheet_link_tag '/css/style.css', rel: "stylesheet" %>
<%= stylesheet_link_tag '/css/bootstrap.css', rel: "stylesheet" %>
<%= stylesheet_link_tag '/css/jquery.accordion.css', rel: "stylesheet" %>

<!-- nivo slider -->
<%= stylesheet_link_tag '/themes/default/default.css', rel: "stylesheet" %>
<%= stylesheet_link_tag '/themes/bar/bar.css', rel: "stylesheet" %>
<%= stylesheet_link_tag '/css/nivoslider/nivo-slider.css', rel: "stylesheet" %>
<%#= javascript_include_tag '/js/nivoslider/jquery.nivo.slider.js' %>
<!-- nivo slider end -->


<!-- custome js -->
<%= javascript_include_tag '/js/parallax.js' %>
<%#= javascript_include_tag '/js/jquery.film_roll.js' %>
<%#= javascript_include_tag '/js/jquery.accordion.js' %>
 
<script type="text/javascript">
	$(document).ready(function(){

		//$('.parallax-window').parallax({imageSrc: '/path/to/image.jpg'});

	})
	
	
</script>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>
